@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme inline {
  --font-climate: var(--font-climate-crisis);
  --font-lecker: var(--font-leckerli-one);
  --font-zain: var(--font-zain);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #74bfd7;
}
::-webkit-scrollbar-thumb {
  background-color: #3d616b;
  border-radius: 10px;
  border: 2px solid #74bfd7;
}